/* css untuk layar minimal 630px ke atas */
@media screen and (min-width : 630px) {
   
    .container {
        max-width: 1280px;
        font-size: 30px;
        margin: auto;
        grid-template-areas:  'header'
                                        'nav'
                                        'konten'
                                        'footer';
    }

    .header {
        position: static;
        justify-content: space-evenly;
    }
    
    .header h1{
        font-size: 40px;
    }
    
    .header .menu {
        display: none;
    }
    
    .header img {
        width: 200px;
    }



    /* supaya sidebar menu di halaman */
    .sideMenuBar{
        transform: translateX(0);
        position: static;
        grid-area: nav;
        width: auto;
        display: flex;
        justify-content: center;
    }

    .sideMenuBar .close {
        display: none;
    }
    
    .navigasi ul li {
        display: inline;
    }
    main  {
        padding: 40px;
    }

    main .card p {
        font-size: 20px;
    }

    .box {
        margin: 15px;
    }

    .container .content .card .box-players {
        grid-template-columns: repeat(4, 120px);
    }
     
}