@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1000px;
    border: 1px solid black;
    margin: auto;
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    color: white;
    background-color: #dc0714;
}

header {
    display: inline;
}

.jumbotron {
    text-align: center;
}

.navigasi {
    display: grid;
    grid-template-columns: repeat(6, 120px);
    justify-self: center;    
}

nav {
    background-color: #c00310;
    padding: 30px;
    position: sticky;
    top: 0;
}

nav li {
    display: inline;
}

nav a {
    text-decoration: none;
    color: white;
}

nav a:hover {
    color: #aaa;
}

.content {
    padding: 40px;
    display: flex;
    flex-direction: column;
}

.pemain,
.sejarah,
.pelatih,
.stadium {
    width: 80%;
}

.box-container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr ;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
}


.box {
    border: 1px solid black;
    margin: 10px;
    display: grid;
    box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.2);
    border-radius: 30px ;
    padding: 20px;
    margin-top: 20px;
    font-size: 15px;
    background-color: #c00310;
}

/* .box.robo {
    grid-area: 3 / 1 / 4 / 2;
}
.box.arnold {
    grid-area: 3 / 3 / 4 / 4;
}

.box.dijk {
    grid-area: 4 / 1 / 5 / 2;

}

.box.matip {
    grid-area: 4 / 3 / 5 / 4; */

/* }
.box.alisson {
    grid-area: alisson 5 / 2 / 6 / 3; 
}  */

 .box img {
    width: 150px;
    margin: auto;
} 

.table tr td {
    border: 0px solid black;
    border-collapse: separate;
    padding: 10px;
}

footer {
    padding: 20px;
    background-color: #911712;
    color: white;
    text-align: center;
    font-weight: bold;
    max-width: 1000px;
    margin: auto;
    border: 1px solid black;
}
