/* @import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap'); */

.container {
    width: 100%;
    border: 1px solid black;
    font-family: 'Quicksand', sans-serif;
    font-size: 10px;
    color: white;
    box-sizing: border-box;
    background-color: #dc0714;
}

.jumbotron {
    text-align: left;
    padding: 20px;
    box-sizing: border-box;
}

.jumbotron h1 {
    font-size: 30px;
    margin-top: 20px;
}


nav {
    background-color: #c00310;
}

nav .navigasi {
    display: flex;
    font-size: 20px;
    flex-direction: column;
}

nav .navigasi div {
    margin: 20px;
}

nav a {
    text-decoration: none;
    color: white;
}

nav a:hover {
    color: #aaa;
}

main {
    padding: 10px;
    box-sizing: border-box;
}

.content {
    margin-top: 20px;
}

main h2 {
    font-size: 40px;
    margin-bottom: 20px;
    margin-left: 10px;
}

main p {
    font-size: 20px;
    margin: 20px;
}



.pemain,
.sejarah,
.pelatih,
.stadium {
    width: 70%;
}

.box-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
}


.box {
    border: 1px solid black;
    box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    background-color: #c00310;
    display: flex;
    font-size: 20px;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.table tr td {
    border: 0px solid black;
    border-collapse: separate;
    padding: 10px;
}

footer {
    background-color: #911712;
    text-align: center;
    font-weight: bold;
    border-top: 1px solid black;
}

footer p {
    padding: 30px;
    font-size: 20px;
}