.container {
    width: 100%;
    color: white;
    box-sizing: border-box;
    background-color: #dc0714;
}


/* css untuk header */
.jumbotron {
    box-sizing: border-box;
    padding: 10px;
}

.jumbotron img {
    margin: 10px 0 0 10px ;
}

.jumbotron h1 {
    font: 35px 'Roboto';
    margin: 40px 0;
}

/* css untuk navigasi */

.navigasi {
    background-color: #c00310;
}

.navigasi ul li {
    margin: 20px;
    display: inline-block;
}

.navigasi a {
    text-decoration: none;
    font: 30px 'BebasNeue';
    color: white;
    transition: .7s;
}

.navigasi a:hover {
    color: #aaa;
}

/* css untuk main */

main {
    padding: 10px;
    box-sizing: border-box;
}

main .card h2 {
    font: 40px 'Roboto';
}

main .card p {
    font: 15px/30px 'Roboto';
    margin: 10px;
    text-align: justify;
}

/* css untuk box-players */
.container .content .card .box-players {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.box {
    margin: 10px 0;
    box-sizing: border-box;
    /* untuk ukuran box */
    width: 35%;
    /* untuk bentuk box */
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50%;
    box-shadow: 0 35px 15px 0 rgba(0, 0, 0, 0.4);
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    /* untuk animasi box */
    transition: .4s;
}

.box img {
    width: 100%;
}

/* animasi box ketika diklik */
.box:hover {
    box-shadow: 0 40px 15px 0 rgba(0, 0, 0, 0.2);
    transform: scale(1.2);
}

/* css untuk footer */

.container footer {
    background-color: #911712;
    text-align: center;
    box-sizing: border-box;
    padding: 30px;
}

.container footer p {
    font: 15px 'Roboto';
}